<br><br><br><body>
  <div class="container-fluid">
    <div class="alert alert-danger" *ngIf="Status1">Enter valid details</div>
    <form #LoginForm="ngForm"  style="background-image: url(assets/6.jpeg); font-family: cursive;">
    <div class="row">
    <div class="col-sm-4" style="margin-top: 50px;margin-left: 50px; margin-right: 50px; ">
  <div class="panel">
    <div class="panel-heading-primary">
    <h3 class="panel-title">USER LOGIN</h3>
    </div>
    <div class="panel-body">
      
  <div class="form-group" [class.has-errors]="emailControl.invalid && emailControl.touched">
      <input required id="email" [(ngModel)]="email" type="email" class="form-control" placeholder="E-mail" name="email" #emailControl>
      <span *ngIf="emailControl.invalid && emailControl.touched" style="color:red;">
        <b>This field is required</b>
      </span>
    </div>
    <div class="form-group" [class.has-errors]="passwordControl.invalid && passwordControl.touched">
        <input required id="password" type="password" class="form-control" placeholder="password" name="password"[(ngModel)]="password" #passwordControl>
        <span *ngIf="passwordControl.invalid && passwordControl.touched" style="color:red;">
          <b>This field is required</b>
        </span>
      </div>
       <button type="submit" (click)=login(emailControl.value,passwordControl.value) class="btn btn-warning" [disabled]="signinForm.invalid">LogIn</button><br><br>
  <!--<label for="email-id">RESET PASSWORD</label>
      <div class="form-group">
          <input id="email-id" type="email" class="form-control" placeholder=" E-mail" name="email-id" [(ngModel)]=" email-id">
        </div> -->
    </div>
    <div class="panel-footer">
      <button type="submit"  class="btn btn-warning" routerLink='/signup'>Send New Paasword</button>
    </div>
  </div></div>
  <div class="vl"></div>
  <div class="col-sm-4" style="margin-top: 50px; margin-left: 50px; margin-right: 50px;">
      <div class="panel">
          <div class="panel-body">
  </div></div></div></div>
  </form>
  <br></div>
  </body>