
.parallax [class*="bg__"] {
    position: relative;
    height: 50vh;
    text-indent: -9999px;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
  }
  .parallax [class*="bg__"]:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
  .parallax .bg__foo, .parallax .bg__bazz {
    height: 100vh;
  }
  .parallax .bg__foo {
    background-image: url("/assets/4.jpeg");
  }
  .parallax .bg__bar {
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjUsdKlg-vgAhUKvY8KHVIJDkkQjRx6BAgBEAU&url=https%3A%2F%2Fwonderfulengineering.com%2Fbest-bmw-wallpapers-for-desktop-tablets-in-hd-for-download%2F&psig=AOvVaw1x1EuL62mGGMN-u5gYpOt_&ust=1551876146964874");
  }
  
  .parallax .bg__bazz {
    background-image: url("/assets/2.jpeg");
  }
  .parallax .bg__break {
    box-shadow: inset 0 0 1em #111;
    /* background-image: url("/assets/1.jpeg"); */
  }
  .parallax .capture {
    float: right;
    width: 200px;
    padding: 10px;
    margin: -1.5em 1em 0 0;
    text-indent: 0;
    background: rgba(243, 243, 243, 0.75);
    box-shadow: 0 1px 0.125em #333;
  }
  
  article .container {
    width: 340px;
    margin: auto;
    
  }
  
  article header {
    position: relative;
    margin: -5em 0 0 0;
    padding: 1em;
    text-align: left;
    font-size: 2em;
    color: #333;
    background-color: rgba(255, 255, 255, 0.75);
  }
  article h1, article h2 {
    margin: 0 0 0.333em;
  }
  article section {
    padding: 3em;
  }
  article section.parallax {
    margin: 0;
    padding: 0;
  }

  

.c{
    font-family: cursive;
    
}


.c7 {
        animation: pulse 5s infinite;
        color:white;
      }
      
      @keyframes pulse {
        0% {
          background-color: #001F3F;
        }
        100% {
          background-color: palevioletred;
        }
      }

.c3{
    overflow-x: hidden;
    
}
.c4{
    background-color:black;
    color:white;
}
.c2 {
  
  color:black;
}

@media only screen and (max-width: 600px) {
.c2 {
  margin-left: auto;
  margin-right:auto;
  }
}

.a2{
  font-family: cursive;
  margin-left:600px;
}

@media only screen and (max-width: 600px) {
.a2 {
  margin-left:auto;
  margin-right:auto;
  }
}

.a3{
  font-family: cursive;
}
@media only screen and (max-width: 500px) {
.a3 {
  margin-left:auto;
  margin-right:auto;
  }
}

